html, body {
    height: 100%;
  }
  body {
    font-family: sans-serif!important;
    /* background-image:url("../Images/color.jpg"); */
    display: flex;
    flex-direction: column;
    background-color:#3aafa9!important; 
  }
  .header {
    flex-shrink: 0;
  }  

  .main {
    flex: 1 0 auto;
  }
  
  .footer {
    flex-shrink: 0;
  }  
/* 
.navbar{
    background-color:#071e22;
}  */

a{
    color:black!important;
    font-size:30px!important;
    font-family: monospace;
}

a:hover{
    color:whitesmoke!important;
}

.container{
    padding: 0!important;
    margin-top: 30px;
    border: 1px solid #1d7874;
    box-sizing: border-box;
    margin-bottom: 40px;
    background-color: white;
}

h1{
    text-align:center!important;
    color:black;
    padding:10px;
}

.head{
    background-color: teal;
}

form{
    padding: 15px!important;
}


 input.Ireset{
    text-emphasis: bold;;
    color:black;
    border: none;
    background-color: teal!important ;
    text-align:center;
}


