.navHeader {
    width: 100%;
    margin:0;
    background: #35424a
    }
      
    html, body {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
    }

    .header {
      flex-shrink: 0;
    }
    .main {
      flex: 1 0 auto;
    }
    .footer {
      flex-shrink: 0;
    }
.navbar-nav{
    
}
hr {
  border-bottom: #e8491d 1px solid;
}


h1,h2 {
  text-transform: uppercase;
}


     footer{   
       color:#ffffff;
       padding-top: 10px;
       padding-bottom: 10px;
       min-height:100px;
       border-top:#e8491d 3px solid;
     }
     
   
     body{
       font: 15px/1.5 Arial, Helvetica,sans-serif;   
       background-color:#f4f4f4;     
     }
     
     p {
         text-align: justify;
         padding-left: 1rem;
     }
   
     /* Header **/
   header{
     
       color:#ffffff;
       padding-top: 10px;
       padding-bottom: 10px;
       min-height:70px;
       border-bottom:#e8491d 3px solid;
     }

    a {
       color: orange;
       font-size: 16px;
       text-transform: uppercase;
     }

   a:hover {
      color:wheat ;
      font-size: 16px;
      text-transform: uppercase;
    }
     
     .navbar-toggler-icon {
       background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250, 250, 250, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
       }

       mark {
         background-color: orange;
       }
       