body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: rgb(8, 8, 8);
  color: white;
  padding: 50px 0;
  
}
.flex-container {
  display: flex;
  background-color: rgb(31, 70, 68);
  border-style: solid;}
  
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  border-style: solid;
}

.container * {
  box-sizing: content-box;
  border-style: solid;}
  
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width:800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}



.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}



.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}



.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 20px;
  border: color white;
}


input.reset {
  margin: 10px auto;
  display: block;
  font-size: absolute;
  margin-bottom: 25px;
  width: 100%;
}

input.submit {
  margin: 0px auto;
  display: block;
  font-size: large;
  margin-bottom: 50px;
  width: 100%;
}

div {
  border-radius: 5px;
 
  padding: 20px;
}