*{
    font-family: 'Lato', sans-serif;
    transition: 0.5s;
}
body{
    margin: 0px;
}
label{
    font-weight: 400;
    display: block;
    margin-bottom: 5px;

}
input{
    border: 1px solid #111;
    margin-bottom:20px;
}
input[type=number]{
    min-width: 125px;
}
input:not([type="submit"]):not([type="reset"]),a{
    width: 100%;
    height:40px;
    padding: 5px 10px;
}
a{
    text-decoration: none;
}
input[type=submit],input[type=reset],a{
    color: #fff;
    background-color: #222;
    border: 0px;
    font-size: 15px;
    text-transform: uppercase;
    margin:5px 10px;
    padding: 5px 10px;
}
input[type=submit]:hover,input[type=reset]:hover{
    color: #ffe400;

}
h1{
    font-weight: 700;

}
form >div {
    display: flex;
    flex-wrap: wrap;
}
form >div > div{
    width: calc(50% - 20px);
    margin: auto;
}
body > div{
    padding: 75px 0px;
    width: 75%;
    margin:auto;
}
nav a{
    color: #ffe400!important;
    width:200px;
    display: flex;
    align-items: center;
}
footer a{
    color: #ffe400!important;
    width:200px;
}
nav a:hover,footer a:hover{
    color: #ccc!important;
}
nav{
    display: flex;
    align-items:center;
    position: fixed;
    background-color: #222;
    width: 100%;
    height:50px;
}
footer{
    width:100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    height: 100px;
    position: absolute;
}
footer > div{
    display:flex;
    align-items:center;
}
footer > div >div{
    color: #fff;
}
.name, .email, .password{
    font-weight: bold;
}
.resDiv{
    display: flex;
    flex-wrap: wrap;
}
.resDiv > div{
    width: calc(50% - 20px);
    margin: auto;
}
.resDiv > div:last-child{
    margin-left:0px;
}
@media (max-width: 780px){
    form >div > div{
        width: calc(100% - 20px);
        margin: auto;
    }
    .resDiv > div{
        width: calc(100% - 20px);
        margin: auto;
    }
}