 .navHeader {
 width: 100%;
 margin:0;
 background: #35424a
 }

label{
  width: 200px;
  display: inline-block;
}

input{
  padding: 6px;
  width: 200px;
  border-radius: 6px;
}

.color{
  width: 50px;
  height: 30px;
}
 
  footer{   
    color:#ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height:100px;
    border-top:#e8491d 3px solid;
  }
  

  body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;   
    background-color:#f4f4f4;     
  }
  
  p{
      text-align: justify;
  }

 
header{
  
    color:#ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
  }
  
