html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.6;

  color: #878787;
}
*,
*::before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
main {
  margin: 1rem auto;
  width: 80%;
  max-width: 1000px;
}

/*********************
      Form
*********************/
select,
option,
input,
label,
button {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  color: inherit;
}
input.favecolor {
  height: 50px;
}
.form-box {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.form-box label {
  display: none;
}
.form-box input,
.form-box select,
.form-box textarea {
  flex-basis: 100%;
}
.form-box button {
}

/*******************************
      Media Queries
*******************************/
@media all and (min-width: 500px) {
  input.favecolor {
    width: 100%;
  }
  .form-box {
  }
  .form-box label {
    display: block;
  }
  .form-box input,
  .form-box select,
  .form-box textarea {
  }
  .form-box button {
  }
}

@media all and (min-width: 600px) {
  .form-box {
    flex-direction: row;
  }
  .form-box label {
    flex-basis: 9rem;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .form-box input,
  .form-box select,
  .form-box textarea {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .form-box button {
    margin-left: 9rem;
  }
}
@media only screen and (max-width: 500px) {
  input.favecolor {
    width: 100%;
  }
  .form-box label {
    display: block;
    font-weight: bold;
  }
  input.sub {
    background-color: green;
    color: white;
    margin: 13px auto;
    display: block;
    text-emphasis: bold;
    font-size: small;
  }
  input.guns{
    width:100%;
  }

  input.res {
    background-color: #ff0000;
    width: 100%;
    margin: 0px auto;
    display: block;
    text-emphasis: bold;
    font-size: small;
    color:white;
  }

 
}
input.sub{
 width:100%
}
input.res{
  margin-bottom: 5%;
}

body {
  background-color: #e8e4c9;
}
.buttons{
  margin: 0px auto;
  display: block;
}

@media only screen and (min-width: 600px){

input#emails{
  width:30%;
}
input.guns{
  width:30%;
}
input#homepage.homepage{
  width:30%;
}
}
@media only screen and (min-width: 501px){
  input.sub{
    background-color:green;
    color:white;
    width:20%;
    display: block;
    margin: 0px auto;
  }
  input.res{
    background-color: #ff0000;
    color:white;
    margin: 0px auto;
    display: block;
  }
}
